
#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  text-align: center;
}

header {
  display: flex;
  
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  padding: 2rem 1rem 1rem;
  position: relative;
}

.logo {
  position: absolute;
  left: 1rem;
  font-weight: bold;
  font-size: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

input, textarea, select {
  font: inherit;
  padding: 0.6em 1.2em;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  width: 100%;
  max-width: 400px;
  /* margin: 0.5em 0; */

}

.question-options {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: stretch;
  max-width: 600px;
  margin: 0 auto;
}

.next-prev {
  max-width: 600px;
  margin: 0 auto;
}

.next-prev button {
  min-width: 120px;
  margin-right: 40px;
}

.question-text {
  font-size: 1.25em;
  margin-bottom: 1rem;
  font-weight: bold;
}
.incorrect {
  background-color: lightcoral;
  /* color: #fff */
}
.correct {
  background-color: lightgreen;
  /* color: #fff */
}

.question-corrections {
  max-width: 700px;
  margin: 0 auto;
}

.question-corrections span {
  display: inline-block;
  margin-left: 10px;
}
.correction-question-text {
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
.correction-options {
  padding: 10px;
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 5px;
  border-radius: 5px;
}

.form-input-div {
  margin-bottom: 10px;
}
ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  /* background: #f4f4f4; */
  margin: 0.5rem 0;
  /* padding: 0.75rem; */
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error{
  color: red;
  /* margin-bottom: 10px; */
}

.margin-bottom-10px{
  margin-bottom: 10px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.margin-bottom-40px {
  margin-bottom: 40px
}

.add-button { 
  background-color: lightgreen;
}

.section-div{
  max-width: 600px;
  margin: 0 auto;
  /* text-align: left; */
}

.action-buttons {
  /* justify-self: end; */
  /* margin-right: auto; */
  display: flex;
  gap: 10px;
}

.popup-div{
  width: 300px;
}

.add-button {
  background-color: lightblue; 
}
.edit-button {
  background-color: lightgreen; 
}
.delete-button {
  background-color: lightcoral; 
}


.teachers-login, .admin-login {
  height: calc(100vh - 76px - 2rem)!important;
}
.admin-container {
  max-width: 1000px;
  margin: 0 auto;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
